In [2]:
import pandas as pd
import mysql.connector
import numpy as np
from mysql.connector import Error

In [3]:
# csv to dataframe
df_buses_1=pd.read_csv(r"df_buses_1.csv")
df_buses_2=pd.read_csv(r"df_buses_2.csv")
df_buses_3=pd.read_csv(r"df_buses_3.csv")
df_buses_4=pd.read_csv(r"df_buses_4.csv")
df_buses_5=pd.read_csv(r"df_buses_R.csv")
df_buses_6=pd.read_csv(r"df_buses_SB.csv")
df_buses_7=pd.read_csv(r"df_buses_H.csv")
df_buses_8=pd.read_csv(r"df_buses_AS.csv")
df_buses_9=pd.read_csv(r"df_buses_9.csv")
df_buses_10=pd.read_csv(r"df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 700,23 Seats available,4.5\n553,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 850,23 Seats available,4.3\n320,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,SKS Tours & Travels,A/C Sleeper (2+1),21:15,05:45,08h 30m,INR 899,21 Seats available,4.4\n107,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 880,18 Seats available,3.7\n266,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,06:10,08h 25m,INR 699,29 Seats available,4.2\n275,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2522,SBSTC-DURGAPUR - HABRA - VIA - DUNLOP - 14:05 ...,Non AC Seater (2+3),14:05,17:35,03h 30m,INR 155,39 Seats available,3.8\n62,https://www.redbus.in/bus-tickets/durgapur-to-...,Durgapur (West Bengal) to Barasat (West Bengal)
2523,WBTC (CTC) Habra - Barasat - Durgapur - Asanso...,Non AC Seater (2+3),14:25,17:25,03h 00m,INR 147,43 Seats available,3.9\n59,https://www.redbus.in/bus-tickets/durgapur-to-...,Durgapur (West Bengal) to Barasat (West Bengal)
2524,City Queen Bus Service,Non AC Seater (2+2),21:30,07:30,10h 00m,INR 285,18 Seats available,2.2\n51,https://www.redbus.in/bus-tickets/kolkata-to-p...,Kolkata to Purulia
2525,City Queen Bus Service,Non AC Seater (2+2),20:50,05:00,08h 10m,INR 250,14 Seats available,2.2\n32,https://www.redbus.in/bus-tickets/kolkata-to-p...,Kolkata to Purulia
2526,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,15:40,02h 55m,INR 87,37 Seats available,4.7,https://www.redbus.in/bus-tickets/habra-to-kol...,Habra to Kolaghat


## Data cleaning

In [4]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2527 entries, 0 to 2526
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2527 non-null   object
 1   Bus_type         2527 non-null   object
 2   Start_time       2527 non-null   object
 3   End_time         2527 non-null   object
 4   Total_duration   2527 non-null   object
 5   Price            2527 non-null   object
 6   Seats_Available  2527 non-null   object
 7   Ratings          2527 non-null   object
 8   Route_link       2527 non-null   object
 9   Route_name       2527 non-null   object
dtypes: object(10)
memory usage: 197.6+ KB

In [5]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       700.0
1       850.0
2       899.0
3       880.0
4       699.0
        ...
2522    155.0
2523    147.0
2524    285.0
2525    250.0
2526     87.0
Name: Price, Length: 2527, dtype: float64

In [6]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\PRIYA\AppData\Local\Temp\ipykernel_11580\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [7]:

# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2527 entries, 0 to 2526
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2527 non-null   object
 1   Bus_type         2527 non-null   object
 2   Start_time       2527 non-null   object
 3   End_time         2527 non-null   object
 4   Total_duration   2527 non-null   object
 5   Price            2527 non-null   float64
 6   Seats_Available  2527 non-null   object
 7   Ratings          2527 non-null   float64
 8   Route_link       2527 non-null   object
 9   Route_name       2527 non-null   object
dtypes: float64(2), object(8)
memory usage: 197.6+ KB

In [8]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [9]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [10]:
# change dataframe to csv
path=r"C:/Users/PRIYA/OneDrive/Desktop/Captsone_Project/New folder/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

## Create a mysql database

In [11]:
import mysql.connector

In [12]:
conn=mysql.connector.connect(host="localhost", user="root", password="123456789")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [13]:
try:
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="123456789",
        database="RED_BUS_DETAILS"
    )
    if conn.is_connected():
        print("Connected to the 'RED_BUS_DETAILS' database")

    my_cursor = conn.cursor()
    
    my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
    print("Table Created successfully")


except Error as e:
    print(f"Error: {e}")

Connected to the 'RED_BUS_DETAILS' database
Table Created successfully

In [14]:
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully

In [1]:
import mysql.connector

# Establish MySQL connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="red_bus_details"  # Optional: You can use an existing database
)
cursor = conn.cursor()

# Drop the table
try:
    cursor.execute("DROP TABLE IF EXISTS bus_details")
    print("Table 'bus_details' dropped successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

# Drop the database
try:
    cursor.execute("DROP DATABASE IF EXISTS red_bus_details")
    print("Database 'red_bus_details' dropped successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

# Close the cursor and connection
cursor.close()
conn.close()

Table 'bus_details' dropped successfully.
Database 'red_bus_details' dropped successfully.